.reset{
    border: none;
    border-radius: 0.5rem;
    background-color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    display: block;
    font-family: 'Fredoka', sans-serif;
}

@keyframes powieksz{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.reset:hover{
    background-color: red;
    color: white;
    animation: powieksz 1.5s infinite;

}

